{erl_opts, [{src_dirs, ["src/lfe"]}]}.

{deps_dir, ["deps"]}.

{deps,
 [{lfe,    {git, "git://github.com/rvirding/lfe.git", {tag, "0.10.1"}}},
  {logjam, {git, "git://github.com/lfex/logjam.git", {tag, "0.3.0"}}}]}.

{plugins,
 [{'lfe-compile',
   {git, "git://github.com/lfe-rebar3/compile.git", {tag, "0.2.1"}}}]}.

{provider_hooks, [{pre, [{compile, {lfe, compile}}]}]}.
